{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="dropdown>
        <main class="form-signin w-100 m-auto">
            <form action="{{ path('app_login') }}" method="post">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="">
                    <label for="username" class="form-control">User name</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
                </div>


                <div class="">
                    <label for="password" class="form-control">Password</label>
                    <input type="password" class="form-control" id="password" name="_password">
                </div>

                {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"> #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btn btn-primary w-100 py-2">login</button>
            </form>
        </main>
    </div>

{% endblock %}
