{% extends 'base.html.twig' %}

{% block title %}Edit CompetitionFly{% endblock %}

{% block body %}
    <h1>Edit CompetitionFly</h1>

    {{ include('competition_fly/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_competition_fly_index') }}">back to list</a>

    {{ include('competition_fly/_delete_form.html.twig') }}
{% endblock %}
